@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@300;600&family=Roboto:ital,wght@0,300;0,700;1,300;1,700&display=swap');
.d1{
    background-color: aqua;
}
.d2{
    background-color:aquamarine
}
.d3{
    background-color:burlywood
}
.d4{
    background-color:yellow
}
.cap1{
    background-color: #112A46;
}
.cap2{
    background-color: #003D2A;
}
.cap3{
    background-color: #181007;
}
.cap4{
    background-color:darkblue;
}
p{
    font-family:'Montserrat', serif;
}
li{
    font-family:'Montserrat', serif;
}
th{
    border: 1px solid black;
    background-color: white;
    font-family:'Montserrat', serif;
}
td{
    border: 1px solid black;
    background-color: white;
    font-family:'Montserrat', serif;
}
h1{
    font-family:'Roboto', sans-serif;
}
h2{
    font-family:'Roboto', sans-serif;
}
h3{
    font-family:'Roboto', sans-serif;
}
h4{
    text-align: center;
    width: 120px;
    color: white;
    margin: 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 120%;
    font-family:'Oswald', sans-serif;
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
section{
    display: flex;
    flex-wrap: wrap;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* XL devices */ 
@media (min-width: 1200px) { 
    .col-xl-3{
        width: 25%;
    }
}
/* Large devices */  
@media (min-width: 993px) and (max-width: 1199px) { 
    .col-lg-4{
        width: 33.33%;
    }
    .col-lg-12{
        width: 100%; 
    }
}
/* Medium devices */  
@media (min-width: 769px) and (max-width: 992px) { 
    .col-md-6{
        width: 50%;
    }

}
/* Small devices */  
@media (max-width: 768px) { 
    .col-sm-12{
        width: 100%;
    }

}