body{
    font-family: Arial, Helvetica, sans-serif;
 }
h1 {
    text-align: center;
    font-size: 24px;
}
p{
    font-size: 130%;
}
#bio.a:link {
    color: maroon;
}
#bio:visited {
    color: magenta;
}

#nov:link {
    color: rgb(4, 63, 4);
}
#nov:visited {
    color: rgb(30, 221, 116);
}

#fri:link {
    color: rgb(3, 41, 41);
}
#fri:visited {
    color: rgb(140, 216, 191);
}

#gall:link {
    color: rgb(48, 7, 87);
}
#gall:visited {
    color: rgb(103, 79, 153);
}
div{
    display: flex;
    flex-wrap: wrap;
  }
  /* Large devices */ 
@media (min-width: 992px) { 
.col-lg-3 {
width: 25%;
flex-direction: row;
text-align: center;
}

}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6 {
width: 50%;
flex-direction: row;
text-align: center;
}
}
/* Small devices */
@media (max-width: 767px){
.col-sm-12 {
  width: 100%;
  flex-direction: row;
  text-align: center;
}
}